@use '@angular/material' as mat;

.full-background {
    // align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    width: 100%;

    background: url('/assets/body-lake.jpeg') center center / cover no-repeat;
}

// workaround https://github.com/angular/components/issues/26094
@for $i from 0 through 24 {
  .mat-mdc-card.mat-elevation-z#{$i} {
    @include mat.elevation($i);
  }
}
